<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Spatial by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="/contato">Arthur</a></strong> Carvalho dos Santos</h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Início</a></li>
						<li><a href="/financas">Finanças</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Finanças</h2>
						<p>Mês mostrado:</p>
					</header>


		<!-- Tabela de Resumo do Mês -->
						<table class="alt">
							<thead>
								<tr>
									<th style="font-size:25px">RECEBIMENTOS <br><i class="fa fa-money"></i><i class="fa fa-level-down"></i></th>
									<th style="font-size:25px">GASTOS DÉBITO <br><i class="fa fa-money"></i><i class="fa fa-level-up"></i></th>
									<th style="font-size:25px">GASTOS CRÉDITO <br><i class="fa fa-cc-amex"></i></th>
									<th style="font-size:25px">GASTOS CRÉDITO <br><i class="fa fa-cc-visa"></i></th>
									<th style="font-size:25px">SALDO <br><i class="fa fa-money"></i><i class="fa fa-exchange"></i></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<% soma_recebimentos = 0 %>
										<% Recebimento.all.each do |recebimento| %>
										<% soma_recebimentos = soma_recebimentos + recebimento.valor.to_f %>
										<% end %>
										<%= number_to_currency(soma_recebimentos, :unit=>"R$") %>
									</td>
									<td>R$ 31.00</td>
									<td>R$ 0.00</td>
									<td>R$ 0.00</td>
									<td>R$ 669.00</td>
								</tr>
							</tbody>
						</table>						

		<!-- Tabela dos Recebimentos do Mês -->
						<h3>
							<div class="js_adicionar_recebimento">                    
                     			Recebimentos
                			</div>
						</h3>
						
						<%= form_tag recebimentos_path do %>
							<table class="alt">
							<td width="15%">
						      <%=date_field_tag 'data',nil ,placeholder:'Data'%>
						    </td>
						    <td width="70%">
						      <%=text_field_tag 'descricao',nil, placeholder:'Descrição'%>
						    </td>
						    <td width="20%">
						      <%=text_field_tag 'valor',nil, placeholder:'Valor'%>
						    </td>
						    <td>
						      <%=button_tag do%>
						      	<i class="fa fa-plus-square"></i>
						      <% end %>
						    </td width="5%">
						    </table>
					    <% end %>

						<table>
							<thead>
								<tr>
									<th width="20%">Data</th>
									<th width="70%">Descrição</th>
									<th width="20%">Valor</th>
									<th width="5%"></th>
								</tr>
							</thead>
							<tbody>
								<% Recebimento.all.each do |recebimento| %>
									
									<tr>
										<td><%= recebimento.data %></td>
										<td><%= recebimento.descricao %></td>
										<td><%= number_to_currency(recebimento.valor, :unit=>"R$") %></td>
										<td>
											<%= form_tag recebimentos_path, :method=> :delete do %>
												<%= hidden_field_tag 'id', recebimento.id %>
												<%=button_tag do%>
													<i class="fa fa-trash"></i>
												<% end %>
											<% end %>
										</td>
									</tr>
								<% end %>	
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
									<td>
										<% soma_recebimentos = 0 %>
										<% Recebimento.all.each do |recebimento| %>
										<% soma_recebimentos = soma_recebimentos + recebimento.valor.to_f %>
										<% end %>
										<%= number_to_currency(soma_recebimentos, :unit=>"R$") %>
									</td>
								</tr>
							</tfoot>
						</table>
		
		<!-- Tabela dos Gastos do Mês -->
						<h3>Gastos</h3>
						
						<%= form_tag gastos_path do %>
							<table class="alt">
							<td width="15%">
						      <%=date_field_tag 'data',nil ,placeholder:'Data'%>
						    </td>
						    <td width="30%">
						      <%=text_field_tag 'descricao',nil, placeholder:'Descrição'%>
						    </td>
						    <td width="20%">
						        <div class="select-wrapper">
											<select name="tipo">
												<option value="">Tipo</option>
												<option value="Cinema">Cinema</option>
												<option value="Estacionamento">Estacionamento</option>
												<option value="Festa">Festa</option>
												<option value="Mercado">Mercado</option>
												<option value="Restaurante">Restaurante</option>
												<option value="Vestuário">Vestuário</option>
												<option value="Outros">Outros</option>
											</select>
								</div>
						    </td>
						    <td width="20%">
						        <div class="select-wrapper">
											<select name="forma_pagamento">
												<option style="color:red" value="">Forma de Pagamento</option>
												<option value="Débito">Débito</option>
												<option value="Crédito VISA">CréditoVISA</option>
												<option value="Crédito AMEX">CréditoAMEX</option>
												<option value="Dinheiro">Dinheiro</option>
											</select>
								</div>
						    </td>
						    <td width="20%">
						      <%=text_field_tag 'valor',nil, placeholder:'Valor'%>
						    </td>
						    <td>
						      <%=button_tag do%>
						      	<i class="fa fa-plus-square"></i>
						      <% end %>
						    </td width="5%">
						    </table>
					    <% end %>


						<table>
							<thead>
								<tr>
									<th width="20%">Data</th>
									<th width="30%">Descrição</th>
									<th width="20%">Tipo</th>
									<th width="20%">Forma de Pagamento</th>
									<th width="20%">Valor</th>
									<th width="5%"></th>
								</tr>
							</thead>
							<tbody>
								<% Gasto.all.each do |gasto| %>
									
									<tr>
										<td><%= gasto.data %></td>
										<td><%= gasto.descricao %></td>
										<td><%= gasto.tipo %></td>
										<td><%= gasto.forma_pagamento %></td>
										<td><%= number_to_currency(gasto.valor, :unit=>"R$") %></td>
										<td>
											<%= form_tag gastos_path, :method=> :delete do %>
												<%= hidden_field_tag 'id', gasto.id %>
												<%=button_tag do%>
													<i class="fa fa-trash"></i>
												<% end %>
											<% end %>
										</td>
									</tr>
								<% end %>	
							</tbody>
							<tfoot>
								<tr>
									<td colspan="4"></td>
									<td>
									<% soma_gastos = 0 %>
										<% Gasto.all.each do |gasto| %>
										<% soma_gastos = soma_gastos + gasto.valor.to_f %>
										<% end %>
										<%= number_to_currency(soma_gastos, :unit=>"R$") %>
									</td>
								</tr>
							</tfoot>
						</table>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/arthurcarvalhosantos" class="icon fa-facebook"></a></li>
						<li><a href="mailto:arthurcarvalhosantos@gmail.com"  class="icon fa-envelope"></a></li>
						<li><a href="https://www.instagram.com/csantosarthur/" class="icon fa-instagram"></a></li>
					</ul>
				</div>
			</footer>


	</body>
</html>
